{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
    <div class="container">
        <div class="grid">
            <div class="col-30">
                {{widget('companyname', 'companyname', {"business": "PORTLAND"})|raw}}
            </div><!--end col-30-->
            <nav class="col-50">
                {{widget('extendednavigation', 'desktopnavigation', {})|raw}}
            </nav><!--end col-60-->
            <div class="col-15">
                {{widget('ecombasket', 'ecombasket', {})|raw}}
            </div><!--en col-30-->
        </div><!--end grid-->
    </div><!--end container-->
</header>

<div role="main">
    <div class="container">
        <div class="grid">
            <div class="col-100">
                {{zone('main')|raw}}
            </div><!--end 100-->
        </div><!--end grid-->
    </div><!--end container-->
</div><!--end main-->

<footer class="bk-footer">
    <div class="container">
        <div class="grid">
            <div class="col-30">
                {{widget('socialicons', 'socialicons', {'googleplus': 'https://plus.google.com/101946323226233111530', 'linkedin':'http://www.linkedin.com/company/basekit', 'facebook': 'https://www.facebook.com/TeamBaseKit', 'twitter': 'https://twitter.com/basekit', 'youtube': 'https://www.youtube.com/user/TeamBaseKit', 'rss': 'http://blogdiseno.basekit.es/feed/'})|raw}}
            </div><!--end col-30-->
            <div class="col-30">
                {{widget('companyname', 'companyname', {"business": "PORTLAND"})|raw}}
                {{widget('companyaddress', 'address', {})|raw}}
            </div><!--end col-30-->
            <div class="col-30">
                {{widget('signupform', 'signup', {'text': 'Send', 'label': 'Your Email', 'formTitle': '', 'email': 'profile'})|raw}}
            </div><!--end col-30-->
        </div><!--end grid-->
</footer>

{% endblock %}