{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
    <div class="container">
        <div class="grid">
            <div class="col-30">
                {{widget('companyname', 'companyname', {"business": "PORTLAND"})|raw}}
            </div><!--end col-30-->
            <nav class="col-50">
                {{widget('extendednavigation', 'desktopnavigation', {})|raw}}
            </nav><!--end col-60-->
            <div class="col-15">
                {{widget('ecombasket', 'ecombasket', {})|raw}}
            </div><!--en col-30-->
        </div><!--end grid-->
    </div><!--end container-->
</header>

<div class="container feature">
    <div class="grid">
        <div class="col-100">
            {{widget('feature', 'featureimage', {"header": "New Collection for 2014", "strapline":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan dolec ipsum dolor.", "buttonText":"Click here","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
        </div><!--end col-100-->
        <div class="col-30">
            {{widget('image', 'featureimage1', { 'src': asset('/images/sub-feature1.jpg'), 'alt': 'my image', 'fileName': 'my-image.jpg', 'fileSize': '58kb', 'imageSize': '440 x 660', 'imageWidth': '90px'})|raw}}
            <div class="sub-feature">
                {{widget('content', 'contenthead1', {content: '<h4>Lorum Ipsum</h4>', lines: 'all'})|raw}}
                {{widget('content', 'featurecontent1', {content: 'This is a content widget.', lines: 'all'})|raw}}
            </div>
        </div><!--end col-30-->
        <div class="col-30">
            {{widget('image', 'featureimage2', { 'src': asset('/images/sub-feature2.jpg'), 'alt': 'my image', 'fileName': 'my-image.jpg', 'fileSize': '58kb', 'imageSize': '440 x 660', 'imageWidth': '90px'})|raw}}
            <div class="sub-feature">
                {{widget('content', 'contenthead2', {content: '<h4>Lorum Ipsum</h4>', lines: 'all'})|raw}}
                {{widget('content', 'featurecontent2', {content: 'This is a content widget.', lines: 'all'})|raw}}
            </div>
        </div><!--end col-30-->
        <div class="col-30">
            {{widget('image', 'featureimage3', { 'src': asset('/images/sub-feature3.jpg'), 'alt': 'my image', 'fileName': 'my-image.jpg', 'fileSize': '58kb', 'imageSize': '440 x 660', 'imageWidth': '90px'})|raw}}
            <div class="sub-feature">
                {{widget('content', 'contenthead3', {content: '<h4>Lorum Ipsum</h4>', lines: 'all'})|raw}}
                {{widget('content', 'featurecontent3', {content: 'This is a content widget.', lines: 'all'})|raw}}
            </div>
        </div><!--end col-30-->
    </div><!--end grid-->
</div><!--end container-->

<div role="main">
    <div class="container">
        <div class="grid">
            <div class="col-100">
                {{widget('ecomproductslist', 'ecomproductslist', {})|raw}}
            </div><!--end 100-->
        </div><!--end grid-->
    </div><!--end container-->
</div><!--end main-->

<footer class="bk-footer">
    <div class="container">
        <div class="grid">
            <div class="col-30">
                {{widget('socialicons', 'socialicons', {'googleplus': 'https://plus.google.com/101946323226233111530', 'linkedin':'http://www.linkedin.com/company/basekit', 'facebook': 'https://www.facebook.com/TeamBaseKit', 'twitter': 'https://twitter.com/basekit', 'youtube': 'https://www.youtube.com/user/TeamBaseKit', 'rss': 'http://blogdiseno.basekit.es/feed/'})|raw}}
            </div><!--end col-30-->
            <div class="col-30">
                {{widget('companyname', 'companyname', {"business": "PORTLAND"})|raw}}
                {{widget('companyaddress', 'address', {})|raw}}
            </div><!--end col-30-->
            <div class="col-30">
                {{widget('signupform', 'signup', {'text': 'Send', 'label': 'Your Email', 'formTitle': '', 'email': 'profile'})|raw}}
            </div><!--end col-30-->
        </div><!--end grid-->
</footer>

{% endblock %}